body{
    background: #2B2B3D;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.circle{
    background: $color__purplrdark;
    filter: blur(360px);
    transform: rotate(90deg);
}
li {
    list-style-type: none;
}